@import "@/assets/styles/theme.scss";
.code-input{
    width:100%;
    &__con{
        &__word2{
            font-size: 44px;
            color: $basics-color-font;
            padding:60px 70px 30px;
        }
        &__word3{
            font-size: 32px;
            color: #A0A0A0;
            padding:0 0 70px 70px;
            &__phone{
                color: #424242;
            }
        }
        &__code{
            width: 352px;
            text-align: center;
            font-size:32px;
            height: 60px;
            line-height: 60px;
            margin: 130px auto 0;
            color: $basics-color-font;
            &__get-again{
                background: #FFE8DF;
                width: 100%;
                height: 100%;
                border-radius: 9px;
            }
            &__time{
                width: 100%;
                height: 100%;
                background: #F1F1F1;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                border-radius: 9px;
            }
        }
        &__code-input{
            width: 80%;
            margin:0 auto;
            position: relative;
            height: 90px;
            overflow: hidden;
            &__show{
                font-size: 44px;   
                display: flex;
                flex-direction: row;
                height: 100%;
                &__text{
                    flex: 1;
                    text-align: center;
                    @include border(bottom, 1px, solid, #e9e9e9);
                    margin: 0 15px;
                    height: 90px;
                    line-height: 90px;
                }          
            }
            &__input{
                position: absolute;
                width: 160%;
                height: 100%;
                z-index: 100;
                top:0;
                left:-30%;
                opacity: 0;
                font-size: 12px;
            }
        }
    }

}
.verify-identity-code-input{
    height: 100%;
    background-color:#fff;
}








