@import './index.scss';
@import '@/assets/styles/login-register.rn.scss';
.verify-identity{
    height: 100%;
    background-color: #fff;
    &__img{
        justify-content: center;
        align-items: center;
        &__img{
            display: flex;
        }
    }
    &__tips1{
        align-items: center;
        &__text{
            font-size: 32px;
        }
    }
    &__type__item{
        @include border(bottom, 1px, solid, rgba(159,159,159,.1));
        &__tips2{
            &__text{
                font-size:32px;
                color:#A0A0A0
            }
        }
        &__phone{
            &__text{
                font-size: 36px;
                color:#424242;
            }
        }
    }
}