// @import './index.scss';
// @import "@/assets/styles/class.rn.scss";
@import "@/assets/styles/form.rn.scss";
.release-recruit {
	background-color:#fff
}
.dq-form-container__item__content{
  &__top{
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
  }
}