@import "@/assets/styles/theme.scss";
.search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  justify-content: space-between;
  padding: 30px 28px 4px;

  &__time {
    font-size: 24px;
    width: 340px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #ebebeb;
    border-radius: 8px;
    &-text {
    font-size: 24px;
    padding: 9px 14px;
    }
  }
  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #ebebeb;
    border-radius: 8px;
    width: 210px;
    height: 58px;
    padding: 0 14px;
  }
}
