@import './index.scss';
.login-register-code{
    &__input{
        height: 88px;
        padding:0;
        padding-right: 300px;
        &__code{
            flex-direction: row;
            position: absolute;
            right:0;
            justify-content:flex-end;
            &__get{
                font-size: 32px;
            }
            &__time{
                flex-direction: row;
            }
        }
    }
}