@import '@/assets/styles/mixins.scss';
.com-detail-localmeet {
	&__list {
    display: flex;
    margin-top: 12px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		&__item {
      display: flex;
      @include eject(line-height,1);
			padding: 8px 13px;
      margin-right: 12px;
      border-radius: 4px;
			background-color: #f1f1f1;
			&__text {
				font-size: 22px;
				color: #a0a0a0;
			}
		}
	}
}
