@import "./mixins.scss";

$primary-color: #ab2b2b;
$disabled-color: #dddddd;

$black: #000000;
$white: #ffffff;
$basics-blue: #3CB5F6;
$basics-color-font: #F87C6A;

$text-color: #424242;
$text-color-light: #666666;
$text-color-lighter: #999999;
$text-color-default: #424242;

$image-bg: #f4f4f4;

$border-color: #dddddd;

$default-bg-color:#F4F4F4;

$border-radius: 4px;
$border-big-radius:8px;

$default-color-font:#A0A0A0;
$title-color-font:#323232;
$label-color-font:#686868;

$btn-primary-color:#F87C6A;
$btn-default-color:#F1F1F1;
$main-color:#F87C6A;

$font-small-size:22px;
$font-middle-size:24px;
$font-default-size:28px;
$font-big-size:32px;
$font-best-size:36px;
$font-larger-size:44px;

