@import '@/assets/styles/theme.scss';
.success-wrap{
    background-color:#fff;
    height:100%;
    &__view{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-align: center;
        justify-content: center;
        padding:0 40px;
        &__img{
            width: 270px;
            height: 270px;
            margin:120px auto 30px;
        }
        &__view{
            display: flex;
            flex-direction: column;
            &__title{
                font-size:32px;
                font-weight:400;
                color:rgba(45,45,45,1);
                @include eject(line-height,32px);
            }
            &__consume{
                margin-top:70px;
                font-size:28px;
                font-weight:400;
                @include eject(line-height,32px);
                &__text{
                    color: $basics-color-font;
                }
            }
            &__info{
                margin-top:36px;
                font-size:26px;
                font-weight:400;
                color:$basics-color-font;
                @include eject(line-height,32px);
            }
            &__desc{
                margin-top:36px;
                margin-bottom: 120px;
                font-size:24px;
                font-weight:400;
                color:rgba(170,170,170,1);
                @include eject(line-height,33px);
            }
        }
        &__btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &-item{
                width: 46%;

            }
        }
    }
}