@import "@/assets/styles/form.rn.scss";
@import "@/assets/styles/theme.scss";

.release-recruit {
	// padding-bottom: 180px;
	background-color: #fff;
}
// .dq-form-continer {
// 	padding-left: 0;
// 	&__item{
// 		// background-color: #f00;
// 		min-height: 120px;
// 		&__label{
// 			&__text{
// 				color:#333;
// 			}
// 		}
// 		&__content{
//       position: relative;
// 		}
// 		&__top{
// 			max-height:200px;
// 		}
// 	}
//   &__btn {
//     position: relative;
//     background: #fff;
//     z-index: 500;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     padding: 20px;
//     // @include border(top, 1px, solid, #eee);
//     box-shadow: 0 -2px 20px #eee;
//   }
//   &__clause {
//     font-size: 32px;
//     color: #686868;
//     margin-top: 30px;
//     &__btn {
//       color: $basics-color-font;
//     }
//     &__check {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       margin-top: 6px;
//     }
//   }
// }
// .job-wanted {
//   margin: 0 30px;
//   &__btn {
//     // position: absolute;
//     // background: #ff0;
//     z-index: 500;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     padding: 20px;
//     // @include border(top, 1px, solid, #eee);
//     box-shadow: 0 -2px 20px #eee;
//   }
// }

// .dq-form-container__item__content__top {
//   display: flex;
//   flex-direction: row;
//   color: rgba(160, 160, 160, 1);
//   &__view {
//     width: 100%;
//     &__view {
//       display: flex;
//       justify-content: space-between;
//       color: rgba(50, 50, 50, 1);
//       &__text {
//         font-size: 32px;
//         font-weight: 400;
//         color: rgba(248, 124, 106, 1);
//       }
//     }
//   }
// }
// .dq-form-container__item__content__arrow{
//   position: absolute;
//   right: 20px;
// }
.submit-btn{
	position:absolute;
	bottom:0;
	left:30px;
	right:30px;
	height: 96px;
}