@import "@/assets/styles/theme.scss";
.dq-class-clause{
  padding-top: 30px;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:0 32px;
  background-color:#fff;
  &__title{
    &__text{
      font-size: $font-big-size;
      color:$label-color-font;
    }
  }
  &__content{
    padding-top:18px;
    padding-bottom:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    &__wrap{
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    &__text{
      margin-left:12px;
      font-size: $font-big-size;
      color:$text-color;
    }
    &__btn{
      font-size: $font-big-size;
      color:$main-color;
    }
  }
}